<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <display-name>first steps servlet</display-name>

         <servlet>
                 <servlet-name>Tspservelet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.mydoors.tsp.TspApp</param-value>
                 </init-param>
         </servlet>



  <servlet-mapping>
  <servlet-name>Tspservelet</servlet-name>
  <url-pattern>/tsp/*</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TSP.html</welcome-file>
  </welcome-file-list>

</web-app>
